{% extends 'base.html' %}
{% block content %}

{% for project in projects %}
  <div class="project">
    <div class="projectLeft">
      <div class="title">
        {{ project.title }}
      </div>
      <div class="projectButtons">
        <button><i class="fas fa-plus"></i></button>
        <button><i class="fas fa-pen"></i></button>
        <button><i class="fas fa-times"></i></button>
      </div>
      <div class="taskList">
        <ul>
          <li>
            First task
            <div class="deleteButton">
              &#10006;
            </div>
          </li>
          
          <li>
            Second task
            <div class="deleteButton">
              &#10006;
            </div>
          </li>
          
          <li>
            Third task
            <div class="deleteButton">
              &#10006;
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="projectRight">
      <div class="timeline">
        <div class="months">
          February
        </div>
        <div class="days">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
          </ul>
        </div>
        <div class="tasks">
          <div class="task">
            <div class="taskBar">
              <div class="progress green">
                75%
              </div>
            </div>
            <div class="teamMember">
              JB
            </div>
            <div class="teamMember">
              AS
            </div>
          </div>

          <div class="task" style="margin-left: 180px;">
            <div class="taskBar">
              <div class="progress yellow">
                60%
              </div>
            </div>
            <div class="teamMember">
              AS
            </div>
          </div>

          <div class="task" style="margin-left: 210px;">
            <div class="taskBar">
              <div class="progress red">
                35%
              </div>
            </div>
            <div class="teamMember">
              AS
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}