<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dotJoin</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'css/master.css'%}">

  <script src="https://kit.fontawesome.com/51d7312509.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="header">
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">
          <div class="logo">
              <img src="{% static 'logo.png' %}" alt="logo">
          </div>
        </a>
      {% else %}
        <a href="{% url 'home' %}">
          <div class="logo">
              <img src="{% static 'logo.png' %}" alt="logo">
          </div>
        </a>
      {% endif %}

      <div class="nav">
        {% if user.is_authenticated %}
          <ul>
            <li>
              <a href="{% url 'profile' %}">
                DASHBOARD
              </a>
            </li>
            <li>
              <a href="{% url 'projects:project_list' %}">
                PROJECTS
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:logout' %}">
                LOGOUT
              </a>
            </li>
          </ul>
        {% else %}
          <ul>
            <li>
              <a href="{% url 'user_list' %}">
                MEMBERS
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:login' %}">
                LOGIN
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:register' %}">
                SIGN UP
              </a>
            </li>
          </ul>
        {% endif %}

      </div>
  </div>
  
    {% block content %}

    {% endblock %}
  

{% comment %} <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> {% endcomment %}
</body>
</html>