{% extends 'base.html' %}
{% block content %}

<section class="container">
      <h1 class="large text-primary">Members</h1>
      <p class="lead">
        Browse and connect with members
      </p>
      <div class="profiles">

        {% for user in users %}
        <div class="profile bg-light">
          {% comment %} <img
            class="round-img"
            src=""
            alt=""
          /> {% endcomment %}
          <i class="fas fa-user round-img"></i>
          <div>
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <p>Developer at Microsoft</p>
            <p>Seattle, WA</p>
            <a href="profile.html" class="btn btn-primary">View Profile</a>
          </div>

          <ul>
            <li class="text-primary">
              <i class="fas fa-check"></i> HTML
            </li>
            <li class="text-primary">
              <i class="fas fa-check"></i> CSS
            </li>
            <li class="text-primary">
              <i class="fas fa-check"></i> JavaScript
            </li>
            <li class="text-primary">
              <i class="fas fa-check"></i> Python
            </li>
            <li class="text-primary">
              <i class="fas fa-check"></i> C#
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>

{% endblock %}